_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
node_modules
package.json
vendor
assets/js/vendor
.amazonq/
.claude
# terraform / opentofu
**/.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
_notes/
.venv/
