
<script type="text/javascript">
    window.addEventListener('load', function() {
    // Get the list element
    var list = document.getElementById("wordsalad");

    // Create a copy of the list items array and Fisher-Yates shuffle
    var listItems = Array.from(list.children);
    for (var i = listItems.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = listItems[i];
      listItems[i] = listItems[j];
      listItems[j] = temp;
    }

    // Rearrange the list items in the DOM
    list.innerHTML = "";  // Clear the list
    listItems.forEach(item => list.appendChild(item));  // Append items in shuffled order
  });

</script>


<style type="text/css"> 
.li2 {
    list-style-type: none;
    display: inline;
}
#wordsalad {
    text-align: center;
    padding-left: 0;
}
</style>

<section class="content-section">

    <header class="section-header">
      <h2>Skills Word Salad</h2>
    </header>

    <div class="resume-item">
      <ul class="resume-item-list" id="wordsalad">
        {% for ingredient in site.data.skillset %}
        <li class="li2">  {{ ingredient }} &bull; </li>
        {% endfor %}
      </ul>
      </div>
      <div class="clear"></div>

    </section>